*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;

}

h2{
    color: green;
    text-align:  center;
    font-weight: 900;
}


    table{
        width: 100%;
        border: 3px;
        border-collapse: collapse;
        border-style:dashed
    }
    th{
        font-weight: 500px;
        border: 3px solid black;
        color:red;
        
    }
    td{
        border: 3px solid black;
        color:blue;
        font-family: 500px;
        text-align: center;
    }
    .CARS{
        width: 200px;
       
        text-align: center;
    
        

    }
    